apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-dep
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: todo-app-app
  template:
    metadata:
      labels:
        app: todo-app-app
    spec:
      containers:
        - name: todo-app-app
          image: TODO_APP_APP
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: todo-app-vol
              mountPath: /tmp
          env:
            - name: PORT
              value: "8080"
          envFrom:
            - configMapRef:
                name: todo-app-cm
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "500m"
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
          startupProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 5
        - name: todo-backend-app
          image: TODO_BACKEND_APP
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8085
          env:
            - name: PORT
              value: "8085"
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: project-secret
                  key: DB_URL
            - name: NATS_URL
              value: "nats://my-nats.default.svc.cluster.local:4222"
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "500m"
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8085
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8085
            initialDelaySeconds: 10
            periodSeconds: 5
          startupProbe:
            httpGet:
              path: /healthz
              port: 8085
            initialDelaySeconds: 15
            periodSeconds: 5
      volumes:
        - name: todo-app-vol
          persistentVolumeClaim:
            claimName: todo-app-pvc
